#!/usr/bin/env bash
	
#
# CUSTOM
#

    DB_WORLD_CUSTOM_PATHS+=(
        $MOD_GUILD_HOUSE_ROOT"/sql/world/"
        )

    DB_CHARACTERS_CUSTOM_PATHS+=(
        $MOD_GUILD_HOUSE_ROOT"/sql/characters/"
        )